# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: Ruby

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
    # To automatically get bug fixes and new Ruby versions for ruby/setup-ruby,
    # change this to (see https://github.com/ruby/setup-ruby#versioning):
    # uses: ruby/setup-ruby@v1
      uses: ruby/setup-ruby@ec106b438a1ff6ff109590de34ddc62c540232e0
      with:
        ruby-version: 2.6
    - name: install apt
      run: |
        sudo apt-get install cabextract xfonts-utils
        wget http://ftp.de.debian.org/debian/pool/contrib/m/msttcorefonts/ttf-mscorefonts-installer_3.6_all.deb
        sudo dpkg -i ttf-mscorefonts-installer_3.6_all.deb
        sudo apt-get install --no-install-recommends texlive-full texlive-fonts-recommended texlive-latex-extra texlive-fonts-extra fonts-gfs-bodoni-classic
        sudo apt-get install inkscape ghostscript
    - name: install calibre
      run: |
        wget -nv -O- https://download.calibre-ebook.com/linux-installer.sh | sudo sh
    - name: install epubcheck
      run: |
        echo 'export PATH=$PATH:`echo ~`' >> ~/.bash_profile
        source ~/.bash_profile
        curl -O -L https://github.com/IDPF/epubcheck/releases/download/v4.0.2/epubcheck-4.0.2.zip && unzip epubcheck-4.0.2.zip -d ~
        sudo fc-cache -fsv
    - name: Install dependencies
      shell: bash -l {0}
      run: bundle install
    - name: Run tests
      shell: bash -l {0}
      run: bundle exec rake
